body {
  background-color: #c5c5c5;
  margin: 0px;
  font-family: sans-serif;
  max-width: 1500px;
  min-width: 240px;
}

nav {
  padding: 20px;
  flex-grow: 1;
  flex-basis: 15%;
  background-color: gainsboro;
}

nav ul {
  list-style: none;
  text-transform: uppercase;
  font-family: Verdana;
  font-size: smaller;
  margin: 0px;
  padding: 0px;

}
nav ul ul {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

main {
  flex-grow: 2;
  background-color: white;
}

.rezerwacja {
  background-color: gainsboro;
  padding: 20px;
}

.odwolaneLoty h2, .rezerwacja h2 {
  padding: 0px;
  color: black;
  font-size: 20px;
  margin-top: 0;
}

.odwolaneLoty {
  padding: 20px 20px 20px 20px;
  border:none;
  margin: 0;
  background-color: crimson;
}

.pudelkoPrawe {
  margin: 0px;
  flex-grow: 1;
  flex-basis: 20%;
}

.rezerwacja input[type=text], .rezerwacja select, .rezerwacja input[type=date]  {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.rezerwacja input[type=submit], .rezerwacja input[type=reset] {
  background-color: deeppink;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 48%;
}


.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}


#topheader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #333333;
  color: #c5c5c5;
  align-items: center;
  /*padding: 20px;
  min-height: 105px;*/
}

#logotopheader {
  margin: 0px;
  padding: 20px;
  flex-basis: 220px;
  flex-grow: 1;

}

#topheader img {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#texttopheader {
  text-align: center;
  flex-grow: 1000;
}

#photos {
  clear: both;
  overflow: hidden;
  margin: 0px;
}

#photos img {
  height: 500px;
}

@media only screen and (min-width: 450px) {
  .column {
    display:inline;
    float: left;
    width: 50%;
  }
}
@media not screen and (min-width: 450px) {
  .column{
    display: none;
  }
}



#tabelaLotow {

  text-align: center;
  border-collapse: collapse;

}

#tabelaLotow td, #tabelaLotow th {
  padding:8px;
  border-collapse: collapse;
  border-bottom: 1px solid grey;
}

.lotOpozniony .lotinfo {
  background-color: beige;
}

.lotOdwolany .lotinfo {
  background-color: crimson;
}

.lotBoarding {
  font-style: italic;
}

.lotBoarding .lotinfo {
  background-color: aquamarine;
}

.lotBardzoOpozniony .lotinfo {
  background-color: darkorange;
}

a {
  color: deeppink;
  text-decoration: none;
}

.info {
  padding: 20px;
  flex-basis: 610px;
}

@media only screen and (min-width: 450px) {
  .info img {
    margin: 0px 20px;
    float: right;
    width: 200px;
  }
}

@media not screen and (min-width: 450px) {
  .info img {
    width: 100%;
  }
}

footer {
  background-color: aliceblue;
  color: black;
  font-size: small;
  padding: 1px;
  padding-right: 20px;
  text-align: right;
}

.sectionList {
  padding: 20px;
  clear: both;
  padding-top: 0px;
  position: relative;
}

#passengerList {
  column-count: 2;
  column-width: 150px;
}
#passengerList li:nth-child(2n) {
  color: darkblue;
}

#passengerList li {
  position: relative;
}

#passengerList li:hover .popup {
  display: inline;
}

p {
  margin-top: 10px;
  width: 99%;
}

#pudelkoztabela {
  position: relative;
  /*max-width: 100%;
  overflow-x: scroll;*/
}

#secondparagraph {
  position: relative;
}

#thirdparagraph {
  background-color: gray;
  position: absolute;
  left: 630px;
  top: 65px;
  z-index: 1;
  padding: 5px;
  width: 100px;
}


.popup {
  background-color: deeppink;
  position: absolute;
  left: 40px;
  bottom: 17px;
  z-index: 1;
  padding: 5px;
  width: 100px;
  display: none;
  text-align: center;
  border-radius: 20px;
  color: white;
}
