doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block logout
      a(href='/logout') logout
    block content
    footer Witold Drzewakowski egzamin WWW 2019 edycja 1