extends users

block append content
  form(action=`/users/newentry`, method="post")
    input(type="hidden", name="_csrf", value=csrfToken)
    textarea#textarea(name="newentry" cols="30" rows="10")
    input(type="submit" value="Add")