doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../stylesheets/style.css')
  body
    block logout
      #user
        if user
          | user: #{user} &#8226; 
          a(href="/logout") logout
        else
          a(href="/login") login
    block content
