doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../stylesheets/style.css')
  body
    #user
      if user
        | user: 
        span= user
        |  &#8226; 
        a(href="/logout")  logout
      else
        a(href="/login") login
    block content
